@import url('/style.css');

body{
    overflow-x: hidden;
}

.navbar {
    height: 90px;
    width: 100vw;
    padding: 0px 20px;
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    background-color: var(--blanco);
}

.navbar-left {
    width: 25%;
    height: 100%;
    padding: 0px 20px;
    gap: 10px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;

    position: relative;
}

.navbar-center {
    width: 50%;
    height: 100%;
    padding: 0px 20px;
    gap: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar-right {
    width: 25%;
    height: 100%;
    padding: 0px 20px;
    gap: 10px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;

    position: relative;
}

.navbar-logo {
    width: 70%;
    height: auto;
}

.navbar-text {
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 30px;
    left: 80px;
}

.navbar-text b {
    font-weight: 800;
    color: var(--naranja-claro);
}

.navbar-link {
    text-decoration: none;
    color: var(--gris-fonts);
    font-weight: 600;
}

.navbar-link:hover {
    color: var(--negro);
}

.button {
    border: none;
    padding: 12px 28px;
    border-radius: 6px;
    cursor: pointer;

    font-size: var(--f_size_p);
    font-weight: 500;

    transition: font-size 0.3s;
}

.--signup{
    color: var(--naranja-claro);
    background-color: var(--gris-buttons);
}

.--signin{
    color: var(--blanco);
    background-color: var(--naranja-claro);
}

.--signin:hover{
    background-color: var(--naranja-claro-hover);
}

.--signup:hover{
    background-color: var(--gris-buttons-hover);
}


/* -----------MAIN-----------*/

.main{
    height: calc(100vh - 90px);
    background-color: var(--gris-background);
}

.row {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 100%; 
}

.column-left {
    width: 50%;
    padding: 20px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.column-left h2{
    font-size: 3em;
    padding-bottom: 20px;
    
}

.column-left h2:nth-of-type(2){
    color: var(--naranja-claro);
}

.column-left p{
    padding-bottom: 20px;
     font-size: var(--f_size_p);
}

.button-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.--comienza{
    background-color: var(--naranja-claro);
    color: var(--blanco);
}

.--comienza:hover{
    background-color: var(--naranja-claro-hover);
}

.mainbutton-a{
    text-align: center;
    text-decoration: none;
    color: #F5F5F5;
}

.mainbutton-a{
    text-align: center;
    text-decoration: none;
    color: #F5F5F5;
}

.right-button{
    background-color: #F5F5F5;
    border: none;
    border-radius: 6px;
    color: var(--naranja-claro);
    font-size: var(--f_size_p);
    cursor: pointer;
}

.right-button:hover{
    color: var(--gris-fonts)
}

.column-right {
    width: 50%;
    padding: 10px;
    margin-right: 30px;
}

.container-image img{
    position: relative;
    left: 40px;

    width: 105%;
    height: auto;
    border-radius: 20px;
}

/*-----------WHY---------*/

.container-why{
    height: 100vh;
}

.why-title{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 50px;
    font-size: var(--f_size_h2);
}

.why-title p{
    text-align: center;
    color: var(--naranja-claro);
    font-weight: var(--f_weight_parrafos);
    margin-bottom: 20px;
}

.why-title h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: var(--f_weight_bold);
    line-height: 1.5;
}

.why-cards{
    display: flex;
    flex-direction: column;
}

.why-cards .card{
    width: 100%;
}

.why-cards .card img{
    width: 20%;
}