/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
}

:root {
    --f_size_h1: 30px;
    --f_size_h2: 20px;
    --f_size_p: 16px;
}

body {
    background-color: black;
}