@import url('/style.css');

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: var(--verde);
    padding: 6px 14px;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 4em;
    width: 100%;
    align-items: center;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 90%;
    top: 13px;
    font-size: 20px;
    height: 20px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 6px;
}

.sidebar ul li a:hover{
    color: #11101d;
    background: var(--naranja-claro);
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 45px;
    text-align: center;
}

.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
}

.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 25px;
}

.profile .profile_details .name_content{
    margin-left: 10px;
}

.profile .profile_details .name{
    font-size: var(--f_size_p);
    font-weight: var(--f_weight_subtitulos);
}

.profile #log_out{
    position: absolute;
    left: 88%;
    bottom: 4px;
    transform: translateX(-50%);
    line-height: 50px;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.Beneficios{
    position: absolute;
    height: auto;
    width: calc(100% - 260px);
    left: 260px;
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Beneficios .beneficios-subtitle{
    font-weight: 300;
    margin-left: 15px;
    font-size: 20px;
}

.Titulo{
    font-size: 22px;
    margin-left: 15px;
    font-family: "Epilogue";
    margin-top: 20px;
}

.botones{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    padding: 20px;
    width: 700px;
    height: 40px;
    margin-top: 5px;
}

.Boton{
    display: flex;
    align-items: center;
    padding: 8px 16px;
    padding-top: 8px;
    width: 500px;
    background-color: #F7F7F7;
    border: 3px solid #B6B5B5;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px;
}

.Iconos{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.Barra-de-busqueda{
    margin-top: 25px;
}

.Barra-de-busqueda input{
    background-color: #FF862F;
    width: 680px;
    height: 45px;
    border-radius: 40px;
    border-color: #FF862F;
    border-top: #FF862F;
    border-left: #FF862F;
    outline: none;
    padding-left: 30px;
    margin-top: -100px;
    margin-left: 10px;
}

input::placeholder {
    color: #323030; 
    font-size: 15px;
  }

.Carousel-Categorias {
    display: flex;
    align-items: center;
}

#titulo-categoria{
    font-size: 24px;
    margin-right: 20px;
    padding: 10px;
    margin-top: 10px;
}

.box-categorias{
    display: flex;
    gap: 20px; 
    overflow-x: auto;
    justify-content: center;
    padding: 20px;
    background-color: none;
    width: 1100px;
    height: 100px;
    margin-top: -15px;
}

.categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
    font-size: 12px;
    gap: 5px;
}
  
.categoria:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.icon{
    width: 25px;
    height: 25px;
}

.container-promociones {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    scrollbar-width: none;
  }

  .container-promociones .subtitle-promociones{
    margin-left: 15px;
  }
  
.carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 10px 0;
    margin-left: 15px;
}

.card-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 20px 0;
}

.link-card {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.card-promo {
    flex: 0 0 auto;
    width: 200px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    scroll-snap-align: start;
    justify-content: center;
    min-height: 200px; /* Ajusta este valor según sea necesario */
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


.card-promo img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    object-fit: contain;
}

.card-promo * {
    margin-bottom: 10px; /* Ajusta según sea necesario */
}
  
.nav-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    padding: 10px;
    z-index: 10;
}

.nav-button.prev {
    left: 0;
}

.nav-button.next {
    right: 0;
}

.metodos-de-pago{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 60px;
    padding-left: 55px;
    gap: 5px;
    border: 2px solid none;
}

.logo-pagos{
    width: 30px; 
    height: 30px;     
    margin: 0;     
    object-fit: contain;
}

.card-container p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
  color: #323030; /* Cambia este valor al color deseado */
  text-decoration: none; /* Elimina la línea debajo del enlace */
}

