@import url('/style.css');

body{
    background-color: #F5F5F5;
}

.navbar {
    height: 90px;
    width: 100vw;
    padding: 0px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    background-color: var(--blanco);
}

.navbar-center {
    width: 50%;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar-right {
    width: 25%;
    height: 100%;
    padding: 0px 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    color: var(--gris-fonts);
    font-weight: 500;
}

.--orange {
    color: var(--blanco);
}

.--white {
    color: var(--naranja-claro);
}



.navbar-button.signup{
    border: none;
    padding: 15px 30px;
    border-radius: 6px;
    cursor: pointer;
}

.navbar-button.signin{
    border: none;
    padding: 15px 30px;
    border-radius: 6px;
    background-color: var(--naranja-claro);
    cursor: pointer;
}

.navbar-button.signup:hover{
    color: var(--gris-fonts);
}

.navbar-button.signin:hover{
    color: var(--gris-fonts);
}


/* -----------MAIN-----------*/

.container{
    height: 100vh;
}

.row {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 100%; 
}

.column-left {
    flex: 1; 
    padding: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.column-left h2{
    font-size: 3em;
    padding-bottom: 20px;
    
}

.column-left h2:nth-of-type(2){
    color: var(--naranja-claro);
}

.column-left p{
    padding-bottom: 20px;
     font-size: var(--f_size_p);
}

.button-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.left-button{
    padding: 15px 30px;
    background-color: var(--naranja-claro);
    border: none;
    border-radius: 6px;
    font-size: var(--f_size_p);
    color: var(--blanco);
    cursor: pointer;
}

.left-button a{
    text-decoration: none;
    color: #F5F5F5;
}

.left-button a:hover{
    color: var(--gris-fonts)
}

.right-button{
    padding: 20px 30px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 6px;
    color: var(--naranja-claro);
    font-size: var(--f_size_p);
    cursor: pointer;
}

.right-button:hover{
    color: var(--gris-fonts)
}

.column-right {
    flex: 1.5; 
    padding: 10px;
    margin-right: 30px;
}

.container-image img{
    width: 100%;
    height: auto;
}