@import url('/style.css');

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: var(--verde);
    padding: 6px 14px;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 4em;
    width: 100%;
    align-items: center;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 90%;
    top: 13px;
    font-size: 20px;
    height: 20px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 6px;
}

.sidebar ul li a:hover{
    color: #11101d;
    background: var(--naranja-claro);
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 45px;
    text-align: center;
}

.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
}

.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 25px;
}

.profile .profile_details .name_content{
    margin-left: 10px;
}

.profile .profile_details .name{
    font-size: var(--f_size_p);
    font-weight: var(--f_weight_subtitulos);
}

.profile #log_out{
    position: absolute;
    left: 88%;
    bottom: 4px;
    transform: translateX(-50%);
    line-height: 50px;
    font-size: 20px;
    border-radius: 6px;
}

.main_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 260px);
    left: 260px;
}

.main_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}