<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./side-nav.css" />
    <title>MangoCash</title>
    <!-- Boxicons JS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    
    <div class="sidebar">

        <div class="logo_content">
            <div class="logo">
                <i class='bx bxl-c-plus-plus'></i>
                <div class="logo_name">Mango Cash</div>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>

        <ul class="nav_list">
            <li>
                <a href="">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Perfil</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-wallet'></i>
                    <span class="links_name">Balances</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-transfer'></i>
                    <span class="links_name">Transacciones</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-receipt'></i>
                    <span class="links_name">Facturas</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-money'></i>
                    <span class="links_name">Gastos</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-crosshair'></i>
                    <span class="links_name">Objetivos</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
             <li>
                <a href="../../../pages/Beneficios-page/Beneficios.html">
                    <i class='bx bx-medal'></i>
                    <span class="links_name">Beneficios</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Configuracion</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="../../assets/profile_photos/Santiago_Friedrich.jpeg" alt="">
                    <div class="name_content">
                        <div class="name">Santiago Friedrich</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </div>
        </div>

    </div>

    <div class="main_content">
        <div class="text">Home</div>
    </div>

    <script type="module" src="./side-nav.js"></script>
  </body>
</html>
